{% extends 'layout.html' %}

{% block content %}
	<section class="Contact">
		<article class="Contact-article">
			<h2 class="Contact-title page-header"><span class="glyphicon glyphicon-book"></span> Informes</h2>
			<p><strong>Teléfonos:</strong> 300 802 0822 | 301 404 6053 | 300 745 0100</p>
			<p><strong>Correos Electronicos:</strong> <em>congresotrf2015@hotmail.com</em> - <em>trabajoscongreso@hotmail.com</em></p>
			<p><strong>Página web:</strong> <a href="http://www.acopterfar.org" target="_blank">www.acopterfar.org</a></p>
			<p>Montería - Córdoba</p>
		</article>
	</section>
{% endblock %}