{% extends 'layout.html' %}

{% block content %}
	<section class="Speaker">
		<div class="Speaker-contentArticle">
			<article class="Speaker-article">
				<figure class="Speaker-contentAvatar">
					<img src="#" alt="" class="Speaker-avatar" />
					<figcaption class="Speaker-fullname">Speaker Name</figcaption>
				</figure>
				<div class="Speaker-card">
					<img src="#" alt="" class="Speaker-cardAvatar" />
					<h3 class="Speaker-cardName">My Full Name</h3>
					<p class="Speaker-cardProfession"><em>My profession</em></p>
					<p class="Speaker-cardDescription">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur quas sunt doloremque, aut odio, libero eveniet. Veniam voluptate quos dolor corporis, iusto blanditiis, minima assumenda consequatur, fugiat voluptates labore eligendi.</p>
				</div>
			</article>
			<article class="Speaker-article">
				<figure class="Speaker-contentAvatar">
					<img src="#" alt="" class="Speaker-avatar" />
					<figcaption class="Speaker-fullname">Speaker Name</figcaption>
				</figure>
				<div class="Speaker-card">
					<img src="#" alt="" class="Speaker-cardAvatar" />
					<h3 class="Speaker-cardName">My Full Name</h3>
					<p class="Speaker-cardProfession"><em>My profession</em></p>
					<p class="Speaker-cardDescription">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam mollitia, molestias sint tempore, velit necessitatibus. Delectus nam, earum minima officiis facilis quas blanditiis similique deleniti, corporis voluptate voluptatum, maxime optio!</p>
				</div>
			</article>
			<article class="Speaker-article">
				<figure class="Speaker-contentAvatar">
					<img src="#" alt="" class="Speaker-avatar" />
					<figcaption class="Speaker-fullname">Speaker Name</figcaption>
				</figure>
				<div class="Speaker-card">
					<img src="#" alt="" class="Speaker-cardAvatar" />
					<h3 class="Speaker-cardName">My Full Name</h3>
					<p class="Speaker-cardProfession"><em>My profession</em></p>
					<p class="Speaker-cardDescription">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam amet repellat, expedita neque esse dolor culpa maxime ea optio cumque, voluptatum consequuntur, aliquid asperiores suscipit rerum rem vel beatae dicta.</p>
				</div>
			</article>
			<article class="Speaker-article">
				<figure class="Speaker-contentAvatar">
					<img src="#" alt="" class="Speaker-avatar" />
					<figcaption class="Speaker-fullname">Speaker Name</figcaption>
				</figure>
				<div class="Speaker-card">
					<img src="#" alt="" class="Speaker-cardAvatar" />
					<h3 class="Speaker-cardName">My Full Name</h3>
					<p class="Speaker-cardProfession"><em>My profession</em></p>
					<p class="Speaker-cardDescription">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse deserunt possimus, neque similique, rerum ipsum. Iusto officiis, id at. Deleniti ut veniam consequatur dignissimos, dicta rerum dolorem voluptatum dolore, saepe!</p>
				</div>
			</article>
			<article class="Speaker-article">
				<figure class="Speaker-contentAvatar">
					<img src="#" alt="" class="Speaker-avatar" />
					<figcaption class="Speaker-fullname">Speaker Name</figcaption>
				</figure>
				<div class="Speaker-card">
					<img src="#" alt="" class="Speaker-cardAvatar" />
					<h3 class="Speaker-cardName">My Full Name</h3>
					<p class="Speaker-cardProfession"><em>My profession</em></p>
					<p class="Speaker-cardDescription">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero ad temporibus, ex eaque asperiores, alias, ipsum cum adipisci praesentium reprehenderit accusamus? Error impedit voluptate, rerum dolor cumque atque consequatur excepturi.</p>
				</div>
			</article>
			<article class="Speaker-article">
				<figure class="Speaker-contentAvatar">
					<img src="#" alt="" class="Speaker-avatar" />
					<figcaption class="Speaker-fullname">Speaker Name</figcaption>
				</figure>
				<div class="Speaker-card">
					<img src="#" alt="" class="Speaker-cardAvatar" />
					<h3 class="Speaker-cardName">My Full Name</h3>
					<p class="Speaker-cardProfession"><em>My profession</em></p>
					<p class="Speaker-cardDescription">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, mollitia dolorum id, itaque magnam voluptatum laborum iusto cumque aut. Libero autem fugiat aperiam velit quae, voluptatum, et praesentium illum molestias.</p>
				</div>
			</article>
		</div>
	</section>
{% endblock %}