{% extends 'layout.html' %}

{% block content %}
	<section class="Hotel">
		<p class="Hotel-message"><em><strong>Nota:</strong> Se le recomienda a las personas que vayan a adquirir los servicios hoteleros llamar y confirmar antes, las tarifas del hotel de su preferencia.</em></p>
		<ul class="Hotel-list row">
			<li class="Hotel-listItem col-xs-3" key="#costabonita"><span class="Hotel-name glyphicon glyphicon-star-empty"></span>Hotel Costa Bonita</li>
			<li class="Hotel-listItem col-xs-3" key="#zenu"><span class="Hotel-name glyphicon glyphicon-star-empty"></span>Hotel Zenú</li>
			<li class="Hotel-listItem col-xs-3" key="#palacioreal"><span class="Hotel-name glyphicon glyphicon-star-empty"></span>Hotel Palacio Real</li>
			<li class="Hotel-listItem col-xs-3" key="#medianaranja"><span class="Hotel-name glyphicon glyphicon-star-empty"></span>Hotel Media Naranja</li>
			<li class="Hotel-listItem col-xs-3" key="#kimari"><span class="Hotel-name glyphicon glyphicon-star-empty"></span>Hotel Kimari</li>
			<li class="Hotel-listItem col-xs-3" key="#41plaza"><span class="Hotel-name glyphicon glyphicon-star-empty"></span>Hotel 41 Plaza</li>
			<li class="Hotel-listItem col-xs-3" key="#calarca"><span class="Hotel-name glyphicon glyphicon-star-empty"></span>Hotel Calarca</li>
			<li class="Hotel-listItem col-xs-3" key="#realcapital"><span class="Hotel-name glyphicon glyphicon-star-empty"></span>Hotel Real Capital</li>
			<li class="Hotel-listItem col-xs-3" key="#casareal"><span class="Hotel-name glyphicon glyphicon-star-empty"></span>Hotel Casa Real</li>
			<li class="Hotel-listItem col-xs-3" key="#miraval"><span class="Hotel-name glyphicon glyphicon-star-empty"></span>Hotel Miraval</li>
			<li class="Hotel-listItem col-xs-3" key="#casadorada2"><span class="Hotel-name glyphicon glyphicon-star-empty"></span>Hotel La Casa Dorada N°2</li>
		</ul>
		<article class="Hotel-article row" id="costabonita">
			<figure class="Hotel-contentBanner">
				<img src="img/costabonita.JPG" alt="" class="Hotel-banner">
			</figure>
			<h2 class="Hotel-name">HOTEL COSTA BONITA</h2>
			<div class="col-xs-6">
				<p class="Hotel-address"><strong>Dirección:</strong> Calle 31 N° 5-46</p>
				<p class="Hotel-phone"><strong>Telefónos:</strong> 7929809 - 7824524 - 7820639</p>
				<p class="Hotel-tax"><strong>Impuesto:</strong> Incluye IVA y DESAYUNO TIPO AMERICANO</p>
				<p><strong>Página web:</strong> <a href="http://www.hotelcostabonita.com" target="_blank" class="Hotel-web">Hotel Costa Bonita</a></p>
				<div class="Hotel-observations">
					<h3>Observaciones</h3>
					<p>Incluye desayuno tipo americano, parqueadero llamadas locales y una hora diaria de Internet servicio de restaurante, bar, lavandería e Internet banda ancha  inalámbrica, las reservas se deben hacer con 8 días de anticipación.</p>
				</div>
			</div>
			<div class="col-xs-6">
				<table class="Hotel-table table table-striped">
					<thead>
						<tr>
							<th>Tipo de Alojamiento</th>
							<th>Tarifas</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>SENCILLA</td>
							<td>$ 154.170</td>
						</tr>
						<tr>
							<td>DOBLE</td>
							<td>$ 199.000</td>
						</tr>
						<tr>
							<td>SUITE X PERSONA</td>
							<td>$ 245.100</td>
						</tr>
						<tr>
							<td>SUITE X 2 PERSONAS</td>
							<td>$ 287.900</td>
						</tr>
						<tr>
							<td>SUITE JUNIOR X PERSONA</td>
							<td>$ 192.600</td>
						</tr>
						<tr>
							<td>SUITE JUNIOR X 2 PERSONAS</td>
							<td>$ 235.530</td>
						</tr>
						<tr>
							<td>TRIPLE</td>
							<td>$ 239.850</td>
						</tr>
					</tbody>
				</table>
			</div>
		</article>
		<article class="Hotel-article row" id="zenu">
			<figure class="Hotel-contentBanner">
				<img src="img/zenu.JPG" alt="" class="Hotel-banner">
			</figure>
			<h2 class="Hotel-name">HOTEL ZENÚ</h2>
			<div class="col-xs-6">
				<p class="Hotel-address"><strong>Dirección:</strong> Calle 33 No. 1-15</p>
				<p class="Hotel-phone"><strong>Telefónos:</strong> 7811061 - 7811060</p>
				<p class="Hotel-tax"><strong>Impuesto:</strong> Incluye IVA y seguro hotelero.DESAYUNO</p>
				<p><strong>Página web:</strong> <a href="http://www.hotelzenumonteria.com.co" target="_blank" class="Hotel-web">Hotel Zenú</a></p>
				<div class="Hotel-observations">
					<h3>Observaciones</h3>
					<p>Ubicados en la avenida primera frente al majestuoso río Sinú, sitio turístico de Montería. Cuenta con amplias y confortables habitaciones, todas con aire acondicionado, ventilador, neveras, minibar, televisión por cable, servicio de lavandería y llamadas nacionales e internacionales. También cuenta con servicio de restaurante.</p>
				</div>
			</div>
			<div class="col-xs-6">
				<table class="Hotel-table table table-striped">
					<thead>
						<tr>
							<th>Tipo de Alojamiento</th>
							<th>Tarifas</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>DOBLE</td>
							<td>$ 48.042</td>
						</tr>
						<tr>
							<td>SENCILLA</td>
							<td>$ 78.603</td>
						</tr>
					</tbody>
				</table>
			</div>
		</article>
		<article class="Hotel-article row" id="palacioreal">
			<figure class="Hotel-contentBanner">
				<img src="img/palacioreal.JPG" alt="" class="Hotel-banner">
			</figure>
			<h2 class="Hotel-name">HOTEL PALACIO REAL</h2>
			<div class="col-xs-6">
				<p class="Hotel-address"><strong>Dirección:</strong> Cra 2 No. 33-85</p>
				<p class="Hotel-phone"><strong>Telefónos:</strong> 7811131 - 7811134 - 7811141</p>
				<p class="Hotel-tax"><strong>Impuesto:</strong> Incluye IVA.</p>
				<p><strong>Página web:</strong> <a href="http://www.palaciorealhotel.com" target="_blank" class="Hotel-web">Hotel Palacio Real</a></p>
				<div class="Hotel-observations">
					<h3>Observaciones</h3>
					<p>Ubicado en la calle principal de Montería. cuenta con habitaciones dotadas con aire acondicionado, TV por cable, con 44 canales, nevera, minibar, teléfono, confortables camas con colchón ortopédico, baño privado, casilla de seguridad, planta eléctrica y lavandería.</p>
				</div>
			</div>
			<div class="col-xs-6">
				<table class="Hotel-table table table-striped">
					<thead>
						<tr>
							<th>Tipo de Alojamiento</th>
							<th>Tarifas</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>SENCILLA (Aire Acondicionado)</td>
							<td>$ 50.000</td>
						</tr>
					</tbody>
				</table>
			</div>
		</article>
		<article class="Hotel-article row" id="medianaranja">
			<figure class="Hotel-contentBanner">
				<img src="img/medianaranja.JPG" alt="" class="Hotel-banner">
			</figure>
			<h2 class="Hotel-name">HOTEL MEDIA NARANJA</h2>
			<div class="col-xs-6">
				<p class="Hotel-address"><strong>Dirección:</strong> Calle 33 No. 1-15</p>
				<p class="Hotel-phone"><strong>Telefónos:</strong> 7811061 - 7811060</p>
				<p class="Hotel-tax"><strong>Impuesto:</strong> Incluye IVA.</p>
				<p><strong>Página web:</strong> <a href="http://www.hotelmedianaranja.com/home.htm" target="_blank" class="Hotel-web">Hotel Media Naranja</a></p>
				<div class="Hotel-observations">
					<h3>Observaciones</h3>
					<p>Incluye aire acondicionado, nevera minibar, baño privado, TV con 44 canales, teléfono directo desde la habitación, lavandería, colchon ortopédico.</p>
				</div>
			</div>
			<div class="col-xs-6">
				<table class="Hotel-table table table-striped">
					<thead>
						<tr>
							<th>Tipo de Alojamiento</th>
							<th>Tarifas (Aire Acondicionado)</th>
							<th>Tarifas (Ventilador)</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>SENCILLA</td>
							<td>$ 45.000</td>
							<td>$ 35.000</td>
						</tr>
						<tr>
							<td>HABITACIÓN DOBLE</td>
							<td>$ 48.000</td>
							<td>$ 38.000</td>
						</tr>
						<tr>
							<td>(PERSONA ADICIONAL)</td>
							<td>$ 12.000</td>
							<td>$ 10.000</td>
						</tr>
					</tbody>
				</table>
			</div>
		</article>
		<article class="Hotel-article row" id="kimari">
			<figure class="Hotel-contentBanner">
				<img src="img/kimari.JPG" alt="" class="Hotel-banner">
			</figure>
			<h2 class="Hotel-name">HOTEL KIMARI</h2>
			<div class="col-xs-6">
				<p class="Hotel-address"><strong>Dirección:</strong> Calle 37 No. 3-16</p>
				<p class="Hotel-phone"><strong>Telefónos:</strong> 7810236 - 7822544 - 7811946</p>
				<p class="Hotel-tax"><strong>Impuesto:</strong> Incluye impuestos y 20% de descuento sobre tarifa plena.</p>
				<p><strong>Página web:</strong> <a href="http://www.hotelkimari.com.co" target="_blank" class="Hotel-web">Hotel Kimari</a></p>
				<div class="Hotel-observations">
					<h3>Observaciones</h3>
					<p>Cuenta con cómodas habitaciones dotadas de TV por cable con control remoto, teléfono con discado directo, fax, Internet, Roomservice, restaurante, minibar, aire acondicionado, lavandería y parqueadero cubierto.</p>
				</div>
			</div>
			<div class="col-xs-6">
				<table class="Hotel-table table table-striped">
					<thead>
						<tr>
							<th>Tipo de Alojamiento</th>
							<th>Tarifas (Aire Acondicionado)</th>
							<th>Tarifas (Ventilador)</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>SENCILLA</td>
							<td>$ 45.000</td>
							<td>$ 35.000</td>
						</tr>
						<tr>
							<td>HABITACIÓN DOBLE</td>
							<td>$ 48.000</td>
							<td>$ 38.000</td>
						</tr>
						<tr>
							<td>(PERSONA ADICIONAL)</td>
							<td>$ 12.000</td>
							<td>$ 10.000</td>
						</tr>
					</tbody>
				</table>
			</div>
		</article>
		<article class="Hotel-article row" id="41plaza">
			<h2 class="Hotel-name">HOTEL 41 PLAZA</h2>
			<div class="col-xs-6">
				<p class="Hotel-address"><strong>Dirección:</strong> Cra 6 No. 40-56</p>
				<p class="Hotel-phone"><strong>Telefónos:</strong> 7827941</p>
				<p class="Hotel-tax"><strong>Impuesto:</strong> Incluye tarifa corporativa, 20% de descuento con IVA.</p>
				<p><strong>Página web:</strong> <a href="#" class="Hotel-web">No website</a></p>
				<div class="Hotel-observations">
					<h3>Observaciones</h3>
					<p>Cuenta con habitaciones modernas y confortables, aire acondicionado, ventilador, TV internacional, lobby, teléfono, servicio de Internet, fax, lavandería y parqueadero.</p>
				</div>
			</div>
			<div class="col-xs-6">
				<table class="Hotel-table table table-striped">
					<thead>
						<tr>
							<th>Tipo de Alojamiento</th>
							<th>Tarifas</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>DOBLE</td>
							<td>$ 147.565</td>
						</tr>
						<tr>
							<td>TRIPLE</td>
							<td>$ 195.000</td>
						</tr>
					</tbody>
				</table>
			</div>
		</article>
		<article class="Hotel-article row" id="calarca">
			<h2 class="Hotel-name">HOTEL CALARCA</h2>
			<div class="col-xs-6">
				<p class="Hotel-address"><strong>Dirección:</strong> Calle 41 No. 4-51</p>
				<p class="Hotel-phone"><strong>Telefónos:</strong> 7922895 - 3008473192</p>
				<p class="Hotel-tax"><strong>Impuesto:</strong> Incluye impuestos.</p>
				<p><strong>Página web:</strong> <a href="#" class="Hotel-web">No website</a></p>
				<div class="Hotel-observations">
					<h3>Observaciones</h3>
					<p>Ubicado en sitio estratégico, cerca de las empresas de trasporte, servicio cercano de todo tipo de comidas y/o contactos con restaurantes con servicio a domicilio, TV por cable, baño interno, radio y teléfono. La suite incluye cama extradoble, aire acondicionado, ventilador, garaje interno, TV por cable, nevera surtida, baño interno, tina y yacusi. Si llegan por vía aérea mínimo tres personas se les brinda servicio aeropuerto-hotel.  Todas las tarifas incluyen agua fría y tinto en la mañana.</p>
				</div>
			</div>
			<div class="col-xs-6">
				<table class="Hotel-table table table-striped">
					<thead>
						<tr>
							<th>Tipo de Alojamiento</th>
							<th>Tarifas (Por persona)</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>SENCILLA</td>
							<td>$ 50.000</td>
						</tr>
						<tr>
							<td>MULTIPLE</td>
							<td>$ 30.000</td>
						</tr>
					</tbody>
				</table>
			</div>
		</article>
		<article class="Hotel-article row" id="realcapital">
			<h2 class="Hotel-name">HOTEL REAL CAPITAL</h2>
			<div class="col-xs-6">
				<p class="Hotel-address"><strong>Dirección:</strong> Cra 4 No. 30-29</p>
				<p class="Hotel-phone"><strong>Telefónos:</strong> 7916300</p>
				<p class="Hotel-tax"><strong>Impuesto:</strong> Incluye impuesto y DESAYUNO.</p>
				<p><strong>Página web:</strong> <a href="#" class="Hotel-web">No website</a></p>
				<div class="Hotel-observations">
					<h3>Observaciones</h3>
					<p>Incluye aire acondicionado a control remoto, TV por cable con 44 canales, nevera minibar, teléfono directo desde la habitación, colchón ortopédico, baño privado, parqueadero, casilla de seguridad y servicio de lavandería.</p>
				</div>
			</div>
			<div class="col-xs-6">
				<table class="Hotel-table table table-striped">
					<thead>
						<tr>
							<th>Tipo de Alojamiento</th>
							<th>Tarifas</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>PARA UNA PERSONA</td>
							<td>$ 99.000</td>
						</tr>
						<tr>
							<td>DOBLE</td>
							<td>$ 120.000</td>
						</tr>
					</tbody>
				</table>
			</div>
		</article>
		<article class="Hotel-article row" id="casareal">
			<figure class="Hotel-contentBanner">
				<img src="img/casareal.JPG" alt="" class="Hotel-banner">
			</figure>
			<h2 class="Hotel-name">HOTEL CASA REAL</h2>
			<div class="col-xs-6">
				<p class="Hotel-address"><strong>Dirección:</strong> Calle 29 No. 6-26</p>
				<p class="Hotel-phone"><strong>Telefónos:</strong> 7824004 - 7814331 - 7920135</p>
				<p class="Hotel-tax"><strong>Impuesto:</strong> Mas 10$ de IVA y seguro hotelero por valor de $4.000 por persona.</p>
				<p><strong>Página web:</strong> <a href="http://www.hotelcasareal.net/" target="_blank" class="Hotel-web">Hotel Casa Real</a></p>
				<div class="Hotel-observations">
					<h3>Observaciones</h3>
					<p>Incluye TV por cable aire acondicionado teléfono, minibar, además presta servicio de fax, lavandería y centro de copiado.</p>
				</div>
			</div>
			<div class="col-xs-6">
				<table class="Hotel-table table table-striped">
					<thead>
						<tr>
							<th>Tipo de Alojamiento</th>
							<th>Tarifas</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>SENCILLA</td>
							<td>$ 95.000</td>
						</tr>
						<tr>
							<td>DOBLE</td>
							<td>$ 120.000</td>
						</tr>
						<tr>
							<td>TRIPLE</td>
							<td>$ 137.000</td>
						</tr>
						<tr>
							<td>4 PERSONAS</td>
							<td>$ 170.000</td>
						</tr>
					</tbody>
				</table>
			</div>
		</article>
		<article class="Hotel-article row" id="miraval">
			<figure class="Hotel-contentBanner">
				<img src="img/miraval.JPG" alt="" class="Hotel-banner">
			</figure>
			<h2 class="Hotel-name">HOTEL MIRAVAL</h2>
			<div class="col-xs-6">
				<p class="Hotel-address"><strong>Dirección:</strong> Calle 41 N. 5 - 53</p>
				<p class="Hotel-phone"><strong>Telefónos:</strong> 7817888 - 7817978 - 321 590 0044</p>
				<p class="Hotel-tax"><strong>Impuesto:</strong> Incluye DESAYUNO.</p>
				<p><strong>Página web:</strong> <a href="http://www.hotelmiravalmonteria.com" target="_blank" class="Hotel-web">Hotel Miraval</a></p>
				<div class="Hotel-observations">
					<h3>Observaciones</h3>
					<p>Le ofrece un agradable servicio, que le hará sentir un verdadero descanso; cada uno de nuestros huéspedes es acogido por personal calificado, que desea darle una atención especializada, pues su descanso es nuestra prioridad. En el encontrará desde agradables espacios como nuestro Restaurante - Bar, hasta las comodidades tecnológicas actuales.</p>
				</div>
			</div>
			<div class="col-xs-6">
				<table class="Hotel-table table table-striped">
					<thead>
						<tr>
							<th>Tipo de Alojamiento</th>
							<th>Tarifas</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>SENCILLA</td>
							<td>$ 95.000</td>
						</tr>
						<tr>
							<td>DOBLE</td>
							<td>$ 120.000</td>
						</tr>
						<tr>
							<td>TRIPLE</td>
							<td>$ 137.000</td>
						</tr>
						<tr>
							<td>4 PERSONAS</td>
							<td>$ 170.000</td>
						</tr>
					</tbody>
				</table>
			</div>
		</article>
		<article class="Hotel-article row" id="casadorada2">
			<h2 class="Hotel-name">HOTEL CASA DORADA N°2</h2>
			<div class="col-xs-6">
				<p class="Hotel-address"><strong>Dirección:</strong> Cr3 39-35</p>
				<p class="Hotel-phone"><strong>Telefónos:</strong> 7822221</p>
				<p class="Hotel-tax"><strong>Impuesto:</strong> Incluye IVA y seguro hotelero.</p>
				<p><strong>Página web:</strong> <a href="http://www.hotellacasadorada.com" target="_blank" class="Hotel-web">Hotel Casa Dorada N°2</a></p>
				<div class="Hotel-observations">
					<h3>Observaciones</h3>
					<p>Ubicados en la avenida primera frente al majestuoso río Sinú, sitio turístico de Montería. Cuenta con amplias y confortables habitaciones, todas con aire acondicionado, ventilador, neveras, minibar, televisión por cable, servicio de lavandería y llamadas nacionales e internacionales. También cuenta con servicio de restaurante.</p>
				</div>
			</div>
			<div class="col-xs-6">
				<table class="Hotel-table table table-striped">
					<thead>
						<tr>
							<th>Tipo de Alojamiento</th>
							<th>Tarifas</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>SENCILLA</td>
							<td>$ 95.000</td>
						</tr>
						<tr>
							<td>DOBLE</td>
							<td>$ 120.000</td>
						</tr>
						<tr>
							<td>TRIPLE</td>
							<td>$ 137.000</td>
						</tr>
						<tr>
							<td>4 PERSONAS</td>
							<td>$ 170.000</td>
						</tr>
					</tbody>
				</table>
			</div>
		</article>
	</section>
{% endblock %}