{% extends 'layout.html' %}

{% block content %}
	<section class="Humax row">
		<aside class="Humax-menuLeft col-xs-3">
			<ul class="Humax-list">
				<li class="Humax-listItem"><a href="#objetives" class="Humax-linkItem">Objetivos</a></li>
				<li class="Humax-listItem"><a href="#award" class="Humax-linkItem">Premio</a></li>
				<li class="Humax-listItem"><a href="#entry" class="Humax-linkItem">Participantes</a></li>
				<li class="Humax-listItem"><a href="#bases" class="Humax-linkItem">Bases del Concurso</a></li>
				<li class="Humax-listItem"><a href="#regulation" class="Humax-linkItem">Reglamentos</a></li>
				<li class="Humax-listItem"><a href="#recomendation" class="Humax-linkItem">Recomendaciones</a></li>
				<li class="Humax-listItem"><a href="#example" class="Humax-linkItem">Ejemplo de Formato</a></li>
			</ul>
		</aside>
		<div class="col-xs-8 Humax-contentArticle">
			<article class="Humax-articleHome" id="home">
				<figure class="Humax-contentLogo">
					<img src="img/humax.png" alt="" class="Humax-logo"/>
				</figure>
			</article>
			<article class="Humax-article" id="objetives">
				<h3 class="Humax-title">OBJETIVOS</h3>
				<p class="Humax-description">Incentivar el desarrollo y la Investigación de la Tecnología en Regencia de Farmacia.</p>
			</article>
			<article class="Humax-article" id="award">
				<h3 class="Humax-title">PREMIOS</h3>
				<p class="Humax-description">Consiste en la suma de 4 millones de pesos  <strong>($4.000.000)</strong>, que se entregarán de la siguiente manera: <p>Primer puesto presentación oral: <strong>$2.000.000</strong></p><p>Segundo puesto Presentación Oral: <strong>$1.000.000</strong></p><p>Primer Puesto Poster: <strong>$600.000</strong></p><p>Segundo Puesto <strong>$400.000</strong></p></p>
			</article>
			<article class="Humax-article" id="entry">
				<h3 class="Humax-title">PARTICIPANTES</h3>
				<p class="Humax-description">Tecnólogos en Regencia de Farmacia y Estudiantes de Tecnología en Regencia de Farmacia, Grupos Interdisciplinarios de Salud, que participen en trabajos y programas de Investigación en Tecnología en Regencia de Farmacia y que evidencien un desarrollo importante de la profesión en el país, liderados por un Tecnólogo en Regencia de Farmacia.</p>
			</article>
			<article class="Humax-article" id="bases">
				<h3 class="Humax-title">BASES DEL CONCURSO</h3>
				<ol class="Humax-description">
					<li>Los trabajos participantes se deben ajustar a los requisitos exigidos por el comité académico del <strong>III CONGRESO INTERNACIONAL DE TECNOLOGIA EN REGENCIA DE FARMACIA</strong>, descritos en este documento.</li>
					<li>Los trabajos presentados deberán evidenciar un aporte significativo a la Tecnología en Regencia de Farmacia. Tecnólogo en Colombia. (es excluyente por el carácter internacional del evento).</li>
					<li>El comité evaluador, estará integrado por un Tecnólogo en Regencia de Farmacia  y representante de la academia, en las áreas que determinan las líneas de investigación establecidas.</li>
					<li>El jurado estará conformado por, un representante de <a href="http://www.acopterfar.org" target="_blank">ACOPTERFAR</a>, un representante de la academia y un representante del sector productivo o un conferencista invitado; tendrá en cuenta tanto la calidad del trabajo escrito como la presentación del mismo. En todo caso, la sustentación deberá ser hecha por un Tecnólogo o estudiante en Regencia de Farmacia.</li>
				</ol>
				<p class="Humax-description">Los miembros del jurado no deben tener conflicto de intereses  con los trabajos presentados.</p>
			</article>
			<article class="Humax-article" id="regulation">
				<ol>
					<li>
						<h3 class="Humax-title">REGLAMENTOS DE PRESENTACIÓN DE TRABAJOS</h3>
						<ol type="I" class="Humax-description">
							<li>Los trabajos académicos serán compartidos con los asistentes a través de las presentaciones orales libres o posters, el investigador propone la modalidad y el comité evaluador la escoge. Es requisito la presencia de al menos un Tecnólogo en Regencia de Farmacia, en el equipo investigador o de trabajo.</li>
							<li>
								Se definirán las siguientes líneas de trabajo académicos:
								<ol type="a">
									<li>Administración y Gestión de los servicios Farmacéuticos</li>
									<li>Productos Naturales y terapias  alternativas</li>
									<li>Observatorio laboral y de formación de los Tecnólogos en Regencia de Farmacia</li>
									<li>Salud pública</li>
								</ol>
							</li>
							<li>Los trabajos deben ser originales y no haber sido presentados ni total ni parcialmente en Congresos o Jornadas científicas anteriores ni publicados en revistas nacionales o internacionales.</li>
							<li>La fecha límite de recepción de los resúmenes será el 15 de agosto de 2015. Las comunicaciones se redactarán en el formato que se anexa a estos requisitos, se recibirán en el correo electrónico a la siguiente dirección: <strong><em>trabajoscongreso@hotmail.com</em></strong> Asunto: <strong><em>Comité Académico</em></strong>. Coordinador del Comité Académico: <strong><em>Hiltony Villa</em></strong>.</li>
							<li>No se aceptan otros mecanismos de envío.</li>
							<li>Una vez finalizado el periodo de recepción de resúmenes y tras la evaluación de los mismos, el Comité Académico, comunicará al primer autor la aceptación o no y la modalidad de presentación del trabajo Académico. La fecha límite para comunicar la aceptación del resumen y la forma de presentación del trabajo es el <strong>15 de septiembre de 2015</strong>.</li>
							<li>De no estar completos los datos solicitados en el formato de presentación de resúmenes, los trabajos serán eliminados automáticamente.</li>
							<li>El Ponente o ponentes, deberá haber confirmado su asistencia al <strong>III CONGRESO INTERNACIONAL DE TECNOLOGIA EN REGENCIA DE FARMACIA</strong> a más  tardar el <strong>4 de Septiembre</strong>.</li>
						</ol>
					</li>
					<li>
						<h3 class="Humax-title">REGLAMENTOS DE PRESENTACIÓN DE TRABAJOS</h3>
						<ol type="I">
							<li>
								Consignar la información en el cuadro de formato Word, que se anexa, configurar la pagina de la siguiente manera: tamaño carta de margen superior 4, inferior, derecha e izquierda 3 y el formato de resúmenes debe tener la siguiente configuración tabla a dos filas con medidas de 15,5 cm de ancho, el cuerpo del resumen máximo 16 cm y el encabezado de 4,5 cm, utilizar fuente Arial, tamaño 10, interlineado sencillo. Es obligatorio consignar la información solicitada en el encabezado del formato, el texto no debe exceder una página del tamaño carta definido.
								<ol type="a">
									<li><strong>Titulo:</strong> Arial 10, negrita, centrado.</li>
									<li><strong>Autores:</strong> un espacio después del titulo, se nombrarán con el primer apellido completo en mayúsculas y luego la iniciales del nombre. Subrayar el nombre del autor responsable de la exposición.</li>
									<li><strong>Institución:</strong> lugar donde se realizó el trabajo, dirección, teléfono, correo electrónico.</li>
									<li><strong>Texto:</strong> debe contener: Objetivos, Materiales y Métodos, Resultados, Discusión y/o Conclusiones. En esta redacción sólo podrán emplearse abreviaturas o acrónimos estándar, identificando las abreviaturas no usuales entre paréntesis después de la primera vez que aparezca en el texto. No se incluirán fotografías, dibujos, ni ilustraciones.</li>
								</ol>
							</li>
							<li>Todos los resúmenes que lleguen al Comité Académico se remitirá al       Comité evaluador correspondiente.</li>
						</ol>
					</li>
					<p class="Humax-description" style="text-align: center;"><em>La elección y premiación de los ganadores del <strong>PREMIO HUMAX A LA INVESTIGACIÓN EN REGENCIA DE FARMACIA</strong>, Patrocinado por Humax Pharmaceutical se realizará el día <strong>15 de Noviembre de 2015</strong>, en el acto de clausura del <strong>III CONGRESO INTERNACIONAL DE TECNOLOGÍA EN REGENCIA DE FARMACIA</strong>.</em></p>
					<li>
						<h3 class="Humax-description">REGLAMENTO PARA POSTERS</h3>
						<p>La lámina del Póster deberá tener 90 cm de ancho por 120 cm de largo. En este espacio deberán estar contenidos todos los elementos informativos del documento.</p>
						<p><strong>TÍTULO:</strong> Las letras para el título deberán ser mayúsculas de un tamaño mínimo de 2 cm (similar al tipo de letra Arial 80) para que pueda ser leído a una distancia de 4m.</p>
						<p><strong>AUTORES E INSTITUCIONES:</strong> El nombre y apellidos de los autores deberán colocarse debajo del título con letras minúsculas, excepto las iníciales, seguido por el nombre la institución de adscripción (letra de 1 cm de alto, similar al juego de caracteres Arial 40).</p>
						<p><strong>INTRODUCCIÓN, MATERIALES Y MÉTODOS, RESULTADOS, CONCLUSIONES Y BIBLIOGRAFÍA:</strong> Lo concerniente al texto deberá de anotarse con letra de 1.0 cm de alto, para permitir su lectura desde una distancia de 2 m. Los cuadros deberán ser concisos; es decir, contener el menor número de palabras y cifras. Es preferible presentar esta información en forma gráfica.</p>
						<p><strong>INTRODUCCIÓN:</strong> En ella se presentará el problema sucintamente.</p>
						<p><strong>OBJETIVO:</strong> la finalidad, lo que se busca con el trabajo.</p>
						<p><strong>MÉTODOS:</strong> Será muy breve; quizá sólo una frase o dos basten para describir los tipos de métodos utilizados.</p>
						<p><strong>RESULTADOS:</strong> La mayor parte del espacio disponible se utilizará para ilustrar los resultados.</p>
						<p><strong>CONCLUSIONES:</strong> Se aconseja que sean breves y en frases numeradas.</p>
					</li>
				</ol>
			</article>
			<article class="Humax-article" id="recomendation">
				<h3 class="Humax-title">RECOMENDACIONES ADICIONALES</h3>
				<p>Organizar el cartel para que el lector siga fácilmente el flujo de la información presentada. El flujo del cartel deberá ser de izquierda a derecha y de arriba hacia abajo. El texto deberá ser de fácil comprensión, evitando el uso de contracciones o abreviaturas no convencionales. No saturar al lector con demasiados números, palabras o gráficas complicadas. El mensaje deberá ser claro y simple.</p>
				<p>Por cada póster deberá enviarse un resumen con las características descritas en <em>“NORMAS PARA LA ELABORACIÓN DE LOS RESÚMENES”</em>.</p>
				<p>No debe exceder 250 palabras, debe indicar una condensación comprensible del artículo de la investigación. Incluye objetivos, materiales y métodos, muestra, variables e instrumentos conclusión global. Se debe presentar en español e ingles</p>
			</article>
			<article class="Humax-article" id="example">
				<h3 class="Humax-title">EJEMPLO DE FORMATO DE ENTREGA DE POSTERS Y RESUMENES</h3>
				<em>Click a la imagen para maximizar...</em>
				<figure class="Humax-contentImg">
					<img src="img/ejemplo_formato.JPG" alt="" class="Humax-img">
				</figure>
			</article>
		</div>
	</section>
{% endblock %}