{% extends 'layout.html' %}

{% block content %}
	<section class="Slides">
		<p class="Slides-message"><em><strong>Nota:</strong> Gracias a todos los estudiantes y profesionales por asistir a este gran evento. A continuación encontrarás las presentaciones descargables de cada conferencista.</em></p>
		<table class="table table-striped Congress-slides">
			<thead class="Congress-slidesHeader">
				<tr>
					<th>CONFERENCISTA</th>
					<th>PRESENTACIÓN</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Universidad Nacional de Colombia</td>
					<td><a href="presentations/Costos de RAM.pptx">Costos de las RAM y AD</a></td>
				</tr>
				<tr>
					<td>Alejandra Villegas Villegas</td>
					<td><a href="presentations/El regente de farmacia.pptx">El Regente de Farmacia como actor en la seguridad del paciente</a></td>
				</tr>
				<tr>
					<td>Luz Mery Bernal Parra Ph.D.</td>
					<td><a href="presentations/Farmacogenomica.pptx">Farmacogenómica en la seguridad del paciente</a></td>
				</tr>
				<tr>
					<td>Dr. Danilo Ribeiro de Oliveira</td>
					<td><a href="presentations/Fitoterapeuticos Adaptogenos.pptx">Desarrollo de Fitoterapéuticos Adaptógenos</a></td>
				</tr>
				<tr>
					<td>+helPharma IPS</td>
					<td><a href="presentations/Gestión Farmacoterapéutica.pptx">Gestión Farmacoterapéutica</a></td>
				</tr>
				<tr>
					<td>MSc. José Julián López G.</td>
					<td><a href="presentations/Riegos asociados.pptx">Nuevos enfoques en la caracterización de los riesgos asociados al uso de medicamentos</a></td>
				</tr>
				<tr>
					<td>Dr. Eduardo Lagomarsino</td>
					<td><a href="presentations/seguridad Colombia.ppt">El papel del farmacéutico en la prevención de los errores de medicación</a></td>
				</tr>
			</tbody>
		</table>
	</section>
{% endblock %}